<!DOCTYPE html>

<html lang="en">
<head>
	<title>PlaneTickets.com Homepage</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- <meta name="viewport" content = "width-device-width, initial-scale=1.0">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
	-->
</head>

<body>	
<!-- 	<div class="bg"></div> -->
		
<!-- Table -->

<table class="container" border="black" vertical-align="top">
	<TR><TD COLSPAN=4><p class="toplinks">Topmost Links</p></TD></TR>
	<TR><TD COLSPAN=4><p class="toplinks2">Topmost Links</p></TD></TR>

	<TR><TD COLSPAN=4><p class="empty">empty space</p></TD></TR>
	<TR><TD COLSPAN=2>empty space</TD><TD ROWSPAN=3 class="greybox">grey box.......</TD><TD ROWSPAN=3>4</TD></TR>
	<TR><TD>1</TD><TD>logo</TD></TR>
	<TR><TD COLSPAN=2>empty space</TD></TR>
</table>


		
<!-- Founder Quote -->
<!-- 	<div class="bs-example"> -->
<!-- 		<blockquote> -->
<!-- 	    	<p>Quote blahblah.</p> -->
<!-- 	    	<small>by <cite>Founder</cite></small> -->
<!-- 	    </blockquote> -->
<!-- 	</div> -->
</body>
</html>

<!-- Table of Flights http://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=table-with-hover-states-->