body {
	background-repeat: no-repeat;
	background-attachment: fixed
}


body {
	color: #000305;
	font-size: 80%;
	font-family: "Lucida Sans Unicode";
	line-height: 1.5;
	text-align: left;
	
	html, body, #bg {
	height: 100%;
	width: 100%;
	}
	#bg {
		position: absolute;
		left:0;
		right:0;<a>Bike_Background_Homepage</a>
		bottom:0;
		top:0;
		overflow:hidden;<a>Bike_Background_Homepage</a>
		z-index:0;
		}
	 #bg img {
	       width:100%;<a>Bike_Background_Homepage</a>
	       min-width:100%;
	       min-height:50%;
}
.

a {
	text-decoloration: none;
}

a:link, a:visited{
	color:#1A94D6;
}

a:hover, a:active{
	color:#797979;	
}

.body{
	margin:0 auto;
	width: 75%;
	clear:both;
}

.mainHead nav{
	background-color: #797979;
	height: 40px;
	border-radius: 7px; /*curving of border box*/
	-webkit-border-radius: 7px; /*browser compatibilities!*/
	-moz-border-radius: 7px;
}

.mainHead nav ul{
	list-style:none;
	margin: 0 auto;
}

.mainHead nav ul li {
	float:left;
	display: inline;
}

.mainHead nav a:link, .mainHead nav a:visited{
	color: #FFF;
	display: inline-block;
	padding: 10px 25px; /*width then height (top) padding*/
	height: 20px;
}

.mainHead nav .active a:link, 
.mainHead nav .active a:visited,
.mainHead nav a:hover,
.mainHead nav a:active {
	background-color: #04BAE3;
	text-shadow: none;
}

.sideInfo{
	width: 25%;
	float: left;
	margin: 1% 0% 1% 0%;
	border-radius: 7px; /*curving of border box*/
	-webkit-border-radius: 7px; /*browser compatibilities!*/
	-moz-border-radius: 7px;
	background-color: #f8f8f8;
}

.mainContent {
	line-height: 20px;
	border-radius: 7px; /*curving of border box*/
	-webkit-border-radius: 7px; /*browser compatibilities!*/
	-moz-border-radius: 7px;
}

.content {
	width: 70%;
	float: right;
	padding: 2% 2%;
	background-color: #f8f8f8;
	margin: 1% 0% 1% 1%;
	border-radius: 7px; /*curving of border box*/
	-webkit-border-radius: 7px; /*browser compatibilities!*/
	-moz-border-radius: 7px;
}

.postInfo {
	font-style: italic;
	font-size: 75%;
	color: #989898;
}

.mainFooter { /*period for classes*/
	width: 100%;
	float: left;
	margin-bottom: 2%;
	border-radius: 7px; /*curving of border box*/
	-webkit-border-radius: 7px; /*browser compatibilities!*/
	-moz-border-radius: 7px;
	background-color: #797979;
}

.mainFooter p {
	width: 92%;
	margin: 2% auto;
	color: #FFF;
}

body {
	background-repeat: no-repeat;
	background-attachment: fixed
}