@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}


/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	15;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/
@font-face {
   font-family: DistrictProThin;
   src: url('/static/css/DistProTh.otf');
}

@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body, html {
	font-family: 'DistrictProThin';
	color: white;
}

p {
	font-family: 'DistrictProThin';
}

.logo {
	font-size: 26px;
	font-family: 'DistrictProThin';
	font-weight: bold;
	line-height: 23px;
}
/*.logo {
	font-size: 26px;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	line-height: 23px;
}*/

.slogan {
	font-size: 16px;
}
.tableTitle{
	font-size: 20px;
	text-align: center;
}
.column_limited {
	max-width: 5%;
}



/* Mobile Layout: 480px and below. */
.spacer { 
	display: none;
}
.spacer2 {
	display: none;
}

.gridContainer {
	margin-left: 0;
	margin-right: 0;
	width: 88.626%;
	padding-left: 1.1869%;
	padding-right: 1.1869%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 17.8571%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#article {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logoslogan {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-family: Arial, Helvetica, sans-serif; 
}
#listings {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#spacer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#spacer2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}



/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
	
.spacer { 
	display: none;
}

.gridContainer {
	width: 91.4836%;
	padding-left: 0.7581%;
	padding-right: 0.7581%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#article {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logoslogan {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#listings {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#spacer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#spacer2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.spacer { 
	display: block;
}
.spacer2 {
	display: block;
}

.gridContainer {
	width: 89.0217%;
	max-width: 1232px;
	padding-left: 0.4891%;
	padding-right: 0.4891%;
	margin: 0;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 32.6007%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#article {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logoslogan {
	clear: both;
	float: left;
	margin-left: 8.4249%;
	width: 32.6007%;
	display: block;
}
#listings {
	clear: none;
	float: left;
	margin-left: 1.0989%;
	width: 49.4505%;
	display: block;
}
#spacer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#spacer2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 24.1758%;
	display: block;
}
}

